<section class="todoapp">
  <header class="header">
    <h1>Metas</h1>
    <app-new-todo></app-new-todo>
  </header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</section>

<footer class="info">
  <p>Double-click para editar una meta</p>
  <p>Escrito por <a href="https://www.facebook.com/Rafael.Roberto.Acosta.Martinez">Rafael Acosta</a></p>
  <p>Usando <a href="https://angular.io/">Angular</a> y <a href="https://ngrx.github.io/">ngrx/store</a></p>
  <p>Parte de <a href="http://todomvc.com">TodoMVC</a></p>
  <p>Curso por <a href="https://devcode.la/cursos/angular-redux">DevCode</a></p>
</footer>